/* Стилі для контейнера div */
div {
    width: 100%; /* Ширина на повну ширину батьківського контейнера */
    max-width: 600px; /* Максимальна ширина контейнера */
    margin: 0 auto; /* Вирівнювання по центру відносно батьківського контейнера */
    padding: 20px; /* Внутрішній відступ */
    background-color: #212121; /* Колір фону */
    box-sizing: border-box; /* Розрахунок ширини з урахуванням padding і border */
}

/* Стилі для міток label */
label {
    display: block; /* Блочний елемент */
    margin-bottom: 5px; /* Зовнішній відступ знизу */
    color: #ffffff; /* Колір тексту */
}

/* Стилі для текстових полів і textarea */
input[type="text"],
.textarea {
    width: 100%; /* Ширина на повну ширину батьківського контейнера */
    padding: 8px; /* Внутрішній відступ */
    margin-bottom: 10px; /* Зовнішній відступ знизу */
    box-sizing: border-box; /* Розрахунок ширини з урахуванням padding і border */
    border: 1px solid #ccc; /* Тонкий бордер */
    border-radius: 4px; /* Радіус закруглення кутів */
}

/* Додаткові стилі для textarea */
.textarea {
    resize: none; /* Заборона на зміну розміру textarea */
}

/* Стилі для елементів з id noteLabels та noteCategories */
#noteLabels,
#noteCategories {
    width: 100%; /* Ширина на повну ширину батьківського контейнера */
    display: block; /* Блочний елемент */
    margin-bottom: 10px; /* Зовнішній відступ знизу */
    background-color: #ffffff; /* Колір фону */
    box-shadow: 0 0 0px rgba(255, 255, 255, 0); /* Тінь без видимості */
}

/* Стилі для вкладених div елементів */
div > div {
    width: 100%; /* Ширина на повну ширину батьківського контейнера */
    margin-right: 0; /* Зовнішній відступ праворуч */
    margin-bottom: 5px; /* Зовнішній відступ знизу */
    padding: 5px; /* Внутрішній відступ */
    border-radius: 4px; /* Радіус закруглення кутів */
    color: #ffffff; /* Колір тексту */
    position: relative; /* Позиціонування відносно батьківського контейнера */
    display: inline-block; /* Відображення як блок, але без зміни розміру */
    text-align: center; /* Вирівнювання тексту по центру */
    font-size: 14px; /* Розмір шрифту */
    letter-spacing: 1px; /* Міжсимвольний інтервал */
    text-decoration: none; /* Відсутність декорації тексту */
    cursor: pointer; /* Зміна вигляду курсору при наведенні */
    transition: ease-out 0.5s; /* Плавний перехід */
    border: 2px solid #725ac100; /* Товстий бордер */
    border-radius: 8px; /* Радіус закруглення кутів */
}

/* Стилі для кнопок */
button {
    width: 100%; /* Ширина на повну ширину батьківського контейнера */
    box-sizing: border-box; /* Розрахунок ширини з урахуванням padding і border */
    position: relative; /* Позиціонування відносно батьківського контейнера */
    display: inline-block; /* Відображення як блок, але без зміни розміру */
    margin: 5px 0; /* Зовнішній відступ зверху та знизу */
    padding: 3px 8px; /* Внутрішній відступ */
    text-align: center; /* Вирівнювання тексту по центру */
    font-size: 14px; /* Розмір шрифту */
    letter-spacing: 1px; /* Міжсимвольний інтервал */
    text-decoration: none; /* Відсутність декорації тексту */
    color: #fffcfc; /* Колір тексту */
    background: transparent; /* Прозорий фон */
    cursor: pointer; /* Зміна вигляду курсору при наведенні */
    transition: ease-out 0.5s; /* Плавний перехід */
    border: 2px solid rgba(255, 255, 255, 0); /* Товстий бордер з прозорістю */
    border-radius: 8px; /* Радіус закруглення кутів */
}

/* Зміна кольору тексту і тіні при наведенні на кнопку */
button:hover {
    color: white; /* Зміна кольору тексту на білий */
    box-shadow: inset 0 -100px 0 0 #646464; /* Тінь для створення ефекту */
}

/* Заборгований стиль для кнопок */
button {
    border: 2px solid #ffffff; /* Білий бордер */
}

/* Додаткові стилі для вимкнутої кнопки */
button:disabled {
    background-color: #ccc; /* Сірий колір для фону */
    cursor: not-allowed; /* Зміна вигляду курсору на заборонений */
}

/* Клас для очищення плаваючих елементів */
.clearfix::after {
    content: ""; /* Порожній контент */
    clear: both; /* Очищення елементів від обох боків */
    display: table; /* Встановлення відображення як таблиці */
}

/* Медіа-запит для екранів шириною до 600px */
@media (max-width: 600px) {
    label,
    input[type="text"],
    .textarea,
    #noteLabels,
    #noteCategories,
    div > div,
    button {
        width: 100%; /* Ширина на повну ширину батьківського контейнера */
        display: block; /* Блочний елемент */
        margin: 2px; /* Зовнішній відступ зверху та знизу */
    }
}
